<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="WxUserInfo" type="com.train.wx.db.model.WxUserInfo"/>
		<typeAlias alias="WxMenuInfo" type="com.train.wx.db.model.WxMenuInfo"/>
		<typeAlias alias="WxGroupInfo" type="com.train.wx.db.model.WxGroupInfo"/>
		<typeAlias alias="WxMetarialInfo" type="com.train.wx.db.model.WxMetarialInfo"/>
		<typeAlias alias="WxKfInfo" type="com.train.wx.db.model.WxKfInfo"/>
		<typeAlias alias="WxRedPackInfo" type="com.train.wx.db.model.WxRedPackInfo"/>
		
		<typeAlias alias="SysUserInfo" type="com.train.wx.db.model.SysUserInfo"/>
		<typeAlias alias="SysMenuInfo" type="com.train.wx.db.model.SysMenuInfo"/>
		<typeAlias alias="SysAttributeInfo" type="com.train.wx.db.model.SysAttributeInfo"/>
		
		<typeAlias alias="SysSearchDto" type="com.train.wx.db.dto.SysSearchDto"/>
		
		
		<typeAlias alias="BannerInfo" type="com.train.wx.db.model.BannerInfo"/>
		<typeAlias alias="HotCourseInfo" type="com.train.wx.db.model.HotCourseInfo"/>
		<typeAlias alias="OrganizationInfo" type="com.train.wx.db.model.OrganizationInfo"/>
		<typeAlias alias="CourseInfo" type="com.train.wx.db.model.CourseInfo"/>
		<typeAlias alias="TuitionInfo" type="com.train.wx.db.model.TuitionInfo"/>
		
		<typeAlias alias="CourseImg" type="com.train.wx.db.model.CourseImg"/>
		<typeAlias alias="EnvironmentImg" type="com.train.wx.db.model.EnvironmentImg"/>
		<typeAlias alias="TeacherImg" type="com.train.wx.db.model.TeacherImg"/>
		
		<typeAlias alias="CourseType" type="com.train.wx.db.model.CourseType"/>
		
		<typeAlias alias="HotCourseDto" type="com.train.wx.db.dto.HotCourseDto"/>
	</typeAliases>
</configuration>